<% content_for(:title, "Edit Topic | Bibliotherapy") %>

<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/topics">Topics</a></li>
<% end %>

<h1>Edit topic</h1>

<%= render "form" %>
