<% content_for(:title, "Topics | Bibliotherapy") %>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= link_to "New Topic", new_topic_path, :class => "btn btn-default btn-lg", id: "new_topic_js", remote: true %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Topics</h2>
    <ul>
      <% @topics.each do |topic| %>
        <li><%= link_to topic.name, topic_path(topic) %></li>
      <% end %>
    </ul>
  </div>
</div>
