<% content_for(:title, "Topics | Bibliotherapy") %>

<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/topics">Topics</a></li>
<% end %>

<h1>Topics</h1>

<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.name, topic_path(topic) %></li>
  <% end %>
</ul>

<hr>

<%= link_to "New Topic", new_topic_path %>
