<h1><%= @topic.name %></h1>


<hr>
<p><%= link_to "Return to topics", topics_path %></p>
<p><%= link_to "Edit", edit_topic_path(@topic) %></p>
<p><%= link_to "Delete", topic_path(@topic),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
