<% content_for(:title, "Update Ailment | Bibliotherapy") %>

<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/topics">Topics</a></li>
<% end %>

<h1>Update ailment</h1>

<%= render 'form' %>
