<% content_for(:title, "New Ailment | Bibliotherapy") %>

<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="/topics">Topics</a></li>
<% end %>

<h1>New ailment for <%= @topic.name %></h1>

<%= render 'form' %>
