// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}

.book-cover {
  width: 40%;
}

.logo {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 5em;
  margin: 1em;
}

.quote {
  text-align: center;
  margin: 1em;
}
